.navbar1{
    height: 10vh;
    color: black;
    padding: 50px;
}

.nav-link{
    color: black;
    margin: 5vh;
}

.navbar-brand{
    font-size: xx-large;
}

.titre-ftr{
    font-size: 50px;
}

.hdr2{
    height:60vh;
    background-color: rgb(145, 137, 137);
}

.section-ftr{
    
    text-align: center;
    margin: 100px;
}

.form-ftr{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-control1{
    width: 100vh;
    height: 30vh;
    margin-top: 20px;
    border-radius: 10px;
}

.form-control2{
    width: 100vh;
    margin-top: 20px;
    border-radius: 5px;
    border-color: gray;
}

.form-group1{
    width: 45vh;
    margin: 20px;
}

.cart-ftr{
    text-align: center;
}

.cart-footer{
    width: 80%;
}