.all-sec7{
    background-color: #fdf5eb;
    height: 60vh;
    margin: 100px;
    text-align: center;
}

.carousel-item-sec7{
    
}

.contenu1-sec7{
    background-color: #eaa636;
    height: 20vh;
    margin-left: 5vh;
    margin-right: 5vh;
    color: white;
}