.all-sec4{
    margin: 100px;
    background-color: #fdf5eb;
    height: 120vh;
    
}

.contenu1-sec4{
    background-color: #eaa636;
    height: 20vh;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.titre-sec4{
    width: 50%;
    color: white;
}

.icon-sec4{
    color: white;
}

.card-body{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.para-sec4{
    color: white;
}

.para2-sec4{
    border: #eaa636 1px solid;
    border-radius: 20px;
    
}

