.div-sec2{
    background-color: #fdf5eb;
    margin: 5vh;
    text-align: center;
    width: 30vh;
    height: 30vh;
    padding-top: 10vh;
    
}

.fa-solid{
    font-size: xx-large;
    color: #eaa636;
}