.section3{
    
}

.all-sec3{
    justify-content: space-evenly;
    margin: 100px;
}

.contenu1-sec3{
    background-color: #eaa636;
    height: 50vh;
    width: 50vh;
    border: 10px solid #fdf5eb;
    justify-content: center;
    
    
}

.img1-sec3{
    width: 35vh;
    height: 50vh;
    margin: 1vh;
    position: relative;
    bottom: 50px;
    border-radius: 10px;
}

.img2-sec3{
    width: 35vh;
    height: 50vh;
    margin: 1vh;
    position: relative;
    top: 50px;
    border-radius: 10px;
}

.contenu2-sec3{
    width: 35%;
}

@media screen and(max-width:380px){
    
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: none;
    }

    .contenu1-sec3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenu2-sec3{
        width: 100%;
        text-align: center;
    }

    .list-sec3{
        justify-content: center;
    }

}
